<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello, this is a dynamic web page using the EJS template engine</title>
        <%- include ('../partials/mainCss.ejs') %>
    </head>
    <body>
        <h1> Hello, this is a dynamic web page using the EJS template engine </h1>
        <p> The current date is <%= Date.now() %> </p>
        <ul>
            <% users.forEach((user) => { %>
            <li><%= user.name %> - <%= user.age %></li>
            <% }); %>
        </ul>
    </body>
</html>