<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('../partials/mainCss.ejs') %>
    <title>Document</title>
</head>
<body>
    <h1>the method <%= method %>  was called on the/user route </h1>
    <span>nom: <%= name %></span></br>
    <span>ville: <%= ville %></span>
</body>
</html>